####################################
# Maven
####################################
target/
!.mvn/wrapper/maven-wrapper.jar

####################################
# Java
####################################
*.class
*.log
hs_err_pid*

####################################
# WAR / EAR
####################################
*.war
*.ear

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
*.iws
*.ipr
out/

####################################
# Eclipse
####################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

####################################
# NetBeans
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

####################################
# VS Code
####################################
.vscode/

####################################
# Application Servers
####################################
apache-tomcat-*/
tomcat/
work/
temp/
logs/

####################################
# Environment / Secrets
####################################
.env
*.env
application-local.properties
application-dev.properties
application-prod.properties

####################################
# Database
####################################
*.db
*.sqlite
*.mv.db
*.h2.db

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Backup / temp
####################################
*.bak
*.tmp
*.swp
